.animation-bounce { 
    display: inline-block;
    animation: bounce 2s ease infinite; 
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-15px);}
    60% {transform: translateY(-10px);}
}

.animation-spinscale {
    animation: spinScale 3s infinite;
}

@keyframes spinScale {
    0% { transform: rotate(0deg) scale(1); }
    50% { transform: rotate(180deg) scale(1.2); }
    100% { transform: rotate(360deg) scale(1); }
}