header {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header section {
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    margin-top: -60px;
}

header section h1 {
    font-size: 45px;
    font-weight: 400;
    line-height: 35px;
    text-shadow: 1px 1px 1px #da3172;
}

header section p {
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    text-transform: uppercase;
    max-width: 400px;
    height: 180px;
    color: #fff;
    text-shadow: 1px 1px 1px #da3172;
}

header section ul {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

header section ul li a i {
    color: #000;
    font-size: 15px;
    line-height: 15px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: rgba(218, 49, 114, 0.3);
}

header section ul li a:hover i {
    margin-bottom: 5px;
    background-color: rgba(218, 49, 114, 1);
}

header section img {
    max-height: calc(100vh - 250px);
    min-height: 500px;
    margin-bottom: -150px;
    filter: drop-shadow(10px 10px 10px #da3172);
}

@media all and (max-width: 800px) {
    header section { gap: 15px; }
    header section h1 { font-size: 35px; }
    header section p { 
        font-size: 30px;
        line-height: 35px;
        height: 230px;
    }
    header section img { display: none !important; }
    header section ul {
        display: flex;
        gap: 10px;
        row-gap: 25.5px;
        flex-wrap: wrap;
    }
    header section ul li a i { font-size: 12px; }
}